[Unit]
Description=Run restic backup for {{ item.key }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ add_restic_client_service_user }}
Group={{ add_restic_client_service_group }}
ExecStart={{ item.backup_script_path }}
Nice=10
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
