#cloud-config
autoinstall:
  version: 1
  shutdown: poweroff

  user-data:
    hostname: {{ vm_name }}
    users:
{% for user in vm_users %}
      - name: {{ user.name }}
        gecos: {{ user.gecos | default(user.name) | to_json }}
{% if user.groups is defined and user.groups | length > 0 %}
        groups: {{ user.groups | to_json }}
{% endif %}
        shell: {{ user.shell | default('/bin/bash') }}
        lock_passwd: {{ (user.lock_passwd | default(false) | bool) | ternary('true', 'false') }}
{% if not (user.lock_passwd | default(false) | bool) %}
        passwd: {{ user.password_hash | to_json }}
{% endif %}
{% if user.sudo is defined %}
        sudo: {{ user.sudo | to_json }}
{% endif %}
        ssh_authorized_keys:
{% for key in user.ssh_authorized_keys %}
          - {{ key | to_json }}
{% endfor %}
{% endfor %}

  ssh:
    install-server: true
    allow-pw: false

  locale: en_US.UTF-8
  keyboard:
    layout: us

  network:
    version: 2
    ethernets:
      primary:
        match:
          name: "en*"
        dhcp4: false
        addresses:
          - {{ (vm.ansible_host ~ '/' ~ autoinstall_vm_ipv4_prefix) | to_json }}
        routes:
          - to: default
            via: {{ autoinstall_vm_ipv4_gateway | to_json }}
        nameservers:
          addresses: {{ autoinstall_vm_ipv4_nameservers | to_json }}

  storage:
    layout:
      name: direct

  packages:
    - qemu-guest-agent
    - openssh-server

  late-commands:
    - curtin in-target --target=/target -- systemctl enable qemu-guest-agent
    - curtin in-target --target=/target -- systemctl start qemu-guest-agent
    - curtin in-target --target=/target -- sed -i 's/^#\?PasswordAuthentication.*/PasswordAuthentication no/' /etc/ssh/sshd_config
    - curtin in-target --target=/target -- systemctl restart ssh
