USERMAP_UID={{ add_paperless_owner_uid }}
USERMAP_GID={{ add_paperless_owner_gid }}
PAPERLESS_SECRET_KEY={{ add_paperless_secret_key }}
PAPERLESS_TIME_ZONE={{ add_paperless_time_zone }}
PAPERLESS_OCR_LANGUAGE={{ add_paperless_ocr_language }}
