[Unit]
Description=Run restic retention maintenance
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ add_restic_retention_service_user }}
Group={{ add_restic_retention_service_group }}
ExecStart={{ add_restic_retention_script_path }}
Nice=10
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths={{ add_restic_retention_root_dir }}
