APT::Periodic::Update-Package-Lists "{{ add_autoupdate_update_package_lists }}";
APT::Periodic::Unattended-Upgrade "{{ add_autoupdate_unattended_upgrade_interval }}";
APT::Periodic::AutocleanInterval "{{ add_autoupdate_autoclean_interval }}";
